header {
  display: block;
  position: relative;
  margin: 30px;
  padding: 10px 30px 30px 3%;
  text-align: center;
  font-size: 2.5rem;
  height: 100px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 14px;
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#eu {
  display: block;
  float: left;
  position: relative;
  height: 250px;
  width: 240px;
  border-radius: 50%;
  padding: 10%;
}

.sobre-mim {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

h3 {
  clear: left;
}
